<% content_for :zagolovok, "Mail Templates" %>

<h1>Mail Templates</h1>

<table data-toggle="table">
    <thead>
        <tr>
            <th>Title</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @templates.each do |template| %>
      <tr>
        <td><%= link_to "#{template.title}", template %> </td> 
        <td data-no-turbolink><%= link_to 'Edit', edit_template_path(template) %> </td>
        <td><%= link_to 'Destroy', template, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
      </tr>
    <% end %> 
      <tr>
      <td data-no-turbolink><%= link_to 'Create New Template', new_template_path, :class => "btn btn-default" %></td>
      </tr>
    </tbody>
</table>
